<% provide(:title, "About") %>
<center>
  <%= image_tag "headshot.png", :class => "style_image" %>
</center>
<h1>
  About
</h1>
<p>
  Hi! I'm <%= link_to "David", asset_path("Weinflash_Resume.pdf") %>. I'm a data analyst and software engineer currently 
  pursuing a M.S. in Computer Science at UC Santa Barbara. My research interests center around data mining techniques 
  and machine learning, especially as it relates to computer vision and statistical inference. 
  <p>
    Email: david.weinflash [AT] gmail.com
  </p>
</p>