<% provide(:title, "About") %>
<h5>
  <center>
    <%= image_tag "headshot.png", :class => "style_image" %>
  </center>
</h5>
<h1>
  About
</h1>
<p>
  Hi! I'm <%= link_to "David", asset_path("Weinflash_Resume.pdf") %>. I'm a full-stack software engineer and data analyst. I
  love to try out new technologies and automate the boring stuff. My research interests center around machine learning and generative 
  artificial intelligence, especially as it relates to computer vision and process automation.
  <p>
    <strong>Email:</strong> david.weinflash [AT] gmail.com
  </p>
</p>