<% provide(:title, "About") %>
<center>
  <%= image_tag "headshot.jpeg", :class => "style_image" %>
</center>
<h1>
  About
</h1>
<p>
  Hi! I'm David. I'm a data analyst and aspiring software engineer currently pursuing a M.S. in Computer Science at
  UC Santa Barbara. My research interests center around data mining techniques and machine learning, especially as it
  relates to computer vision and statistical inference. 
  <p>
    Email: david.weinflash [AT] gmail.com
  </p>
</p>