<% provide(:title, "Android Network Tools") %>
<h1>Android Network Tools</h1>
<h2>Summary</h2>
<p>
  Application that provides a set of tools to measure network performance, network speed and web page performance
  from an Android device. Performance statistics are gathered in the application and exported via Google Drive.
</p>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/AndroidNetworkTools' %>
</h3>