<% provide(:title, "Random Animal Generator") %>
<h1>Random Animal Generator</h1>
<h2>Summary</h2>
<p>
  Team Beta at <a href="https://search-careers.gm.com/en/teams/information-technology/">General Motors IT</a> 
  would often close out stand-up meetings by performing a random animal gesture. To help choose a gesture,
  I developed the <a href="https://random-animal-generator-2c5690a5e7df.herokuapp.com/">Random Animal Generator</a>, a totally
  unnecessary but fun tool to help select a team video to perform before ending stand-up meetings.
</p>
<h3>
  <center>
    <%= image_tag "Animals.gif", :class => "image", :size => "450x350" %>
  </center>
</h3>
<h2>Goals</h2>
<ul>
  <li>Deploy a bare bones web application to an external cloud platform.</li>
  <li>Randomly select an animal gesture to help close out stand-up meetings.</li>
</ul>
<h2>Takeaways</h2>
<ul>
  <li>"Never has it been easier to determine how to close out our standups." - <a href="https://www.linkedin.com/in/andrew-heiszler/">Super Stoked Coworker #1</a></li>
  <li>"Way to be innovative while keeping things light and fun!" - <a href="https://www.linkedin.com/in/shareen-islam/">Super Stoked Coworker #2</a></li>
</ul>