<% provide(:title, "Audio Search") %>
<h1>Audio Search</h1>
<h2>Summary</h2>
<p>
  This project introduces <a href="https://audio-search.herokuapp.com/">Audio Search</a>, a video transcription service that
  tries to address a problem I encounter when watching long tutorials: Given a long video, how do I skip to the part that interests me most?
  Or put another way, if I know a video briefly mentions a topic, how do I quickly get to the part where the topic is mentioned? 
  <i>Audio Search</i> tries to address this problem by generating interactive transcripts for uploaded videos, allowing videos to be
  searched & seeked based on video dialog.
</p>
<center>
  <%= image_tag "AudioSearch_Architecture.png", :size => "600x300" %>
</center>
<h2>Goals</h2>
<ul>
  <li>Make use of Google Cloud's <a href="https://cloud.google.com/speech-to-text">Speech-to-Text API</a> to convert a video's dialog to text.</li>
  <li>Deploy a video hosting platform that is capable of uploading, transcribing and storing videos.</li>
  <li>Use the words spoken in a video to perform keyword search and seek to a certain spot in a video.</li>
</ul>
<h2>Takeaways</h2>
<ul>
  <li><a href="https://cloud.google.com/products/ai/">Google Cloud</a> makes it easy to take advantage of state-of-the-art AI solutions.</li>
  <li>Video transcription processing time takes on average 1 minute for every 5 minutes of video time.</li>
  <li>Video transcription service costs could add up if the service is scaled significantly.</li>
</ul>

<h2>Documents</h2>
<h3>
  <%= link_to image_tag("Slides.png", size: "80x100", alt: "Slides"), asset_path("AudioSearch_Presentation.pdf") %>
</h3>