<% provide(:title, "AZ Homes") %>
<h1>Pricing Factors in the Arizona Home Market</h1>
<h2>Summary</h2>
<p>
  In this statistical analysis research project, the Arizona home market was investigated in order to
  determine 1) the viability of home ownership in Arizona and 2) the most significant factors influencing
  the price of a single family home. By analyzing historical price appreciation in light of socioeconomic 
  factors – school districts, location, crime, etc. – the most significant factors influencing housing cost are
  investigated. Ultimately, this project serves to provide an analytical guide to determine what factors are most
  important to consider when buying a home.
</p>
<h2>
  <center>
    <%= image_tag "AZ_Graph.png", :size => "600x300" %>
  </center>
</h2>
<h2>Goals</h2>
  <li>Compare and contrast Arizona home market with national home market.</li>
  <li>Analyze impactful pricing factors:
    <ul>
      <li>Geography</li>
      <li>Population</li>
      <li>Education</li>
      <li>Crime</li>
    </ul>
  </li>
<h2>Takeaways</h2>
  <li>Larger population does not equate to a higher home value.</li>
  <li>In Arizona, proficiency in English a stronger indicator for higher home values than proficiency in Mathematics.</li>
  <li>Nationwide, a lower violent crime rate is a stronger indicator for higher home values than a lower property crime rate.</li>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("Slides.png", size: "80x100", alt: "Slides"), asset_path("AZ_Presentation.pdf") %>
  <%= link_to image_tag("PDF.png", size: "80x100", alt: "Report"), asset_path("AZ_Report.pdf") %>
</h3>