<% provide(:title, "Beer") %>
<h1>US Craft Beer</h1>
<h2>Summary</h2>
<p>
  In this project I set out to analyze the 'Beer' dataset in R and determine what factors influence a beer's rating. With the help of
  a multiple linear regression model, I determine the effectiveness of a beer's <i>style</i>, <i>ABV</i>, <i>age</i>, <i>year</i> and 
  <i>region</i> in predicting a beer's rating.
</p>
<h2>Goals</h2>
  <li>Pre-process the Beer dataset.</li>
  <ul>
    <li>Analyze only domestic beer.</li>
  </ul>
  <li>Determine which states brew the best beer.</li>
  <li>Fit a Multiple Linear Regression model to predict a beer's rating.</li>
  <ul>
    <li>Use K-Fold Cross Validation to validate model.</li>
  </ul>
<h2>Takeaways</h2>
  <li>Highest rated beer found in the Northeast.</li>
  <li>Multiple Linear Regression model not especially effective.</li>
  <ul>
    <li>Poor goodness of fit (R2 ~ 0.14).</li>
    <li>Beer <i>style</i> an important factor based on small p-value.</li>
  </ul>
  <li>Predicted rating suffers if beer brewed in the West.</li>
<center>
  <%= image_tag "Beer_ScoresPerState.png", :class => "style_image", :size => "550x400" %>
  <%= image_tag "Beer_KFold.png", :class => "style_image", :size => "550x400" %>
</center>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/Beer' %>
</h3>