<% provide(:title, "Beer") %>
<h1>US Craft Beer</h1>
<h2>Summary</h2>
<p>
  Statistical analysis investigating domestic craft beer. Experiment with deploying a multiple linear regression 
  model using style, ABV, age, year and region to predict a beer's rating.
</p>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/Beer' %>
</h3>