<% provide(:title, "Beer") %>
<h1>US Craft Beer</h1>
<h2>Summary</h2>
<p>
  In this project I set out to analyze data scraped from the website <a href="https://www.beeradvocate.com/">BeerAdvocate</a> 
  in order to determine what factors make for a great beer. With the help of RStudio and a multiple linear regression model,
  I measure the effectiveness of <i>Style</i>, <i>Alcohol by Volume</i>, <i>Age</i>, <i>Year</i> and <i>Region</i> in predicting a beer's rating.
  After processing and segmenting the data, I plot the highest rated beers in order to illustrate which regions of the United States brew the best beer.
</p>
<center>
  <%= image_tag "Beer_ScoresPerState.png", :class => "style_image", :size => "450x320" %>
  <%= image_tag "Beer_KFold.png", :class => "style_image", :size => "450x320" %>
</center>
<center>
  <i>Beer Rating & Model Validation</i>
</center>
<h2>Goals</h2>
  <li>Pre-process data scraped from <a href="https://www.beeradvocate.com/">BeerAdvocate</a>.</li>
  <ul>
    <li>Analyze only domestic beer.</li>
  </ul>
  <li>Determine which states brew the best beer.</li>
  <li>Fit a multiple linear regression model to predict a beer's rating.</li>
  <ul>
    <li>Use k-fold cross-validation to assess the model.</li>
  </ul>
<h2>Takeaways</h2>
  <li>Highest rated beer found in the Northeast.</li>
  <li>Multiple linear regression model not especially effective.</li>
  <ul>
    <li>Poor goodness of fit (R<sup>2</sup> ~0.14).</li>
    <li>Beer <i>style</i> a significant factor.</li>
  </ul>
  <li>Predicted rating suffers if beer brewed in the West.</li>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/Beer' %>
</h3>