<% provide(:title, "Deep Learning at the Edge") %>
<h1>Deep Learning at the Edge</h1>
<h2>Summary</h2>
<p>
  This project integrates an 
  <a href="https://www.digitaldreamlabs.com/pages/meet-cozmo">Internet of Things (IoT) device</a>, 
  <a href="https://www.raspberrypi.org/">Edge device</a> and
  <a href="https://colab.research.google.com/notebooks/intro.ipynb#recent=true">Cloud computing environment</a> 
  to explore machine learning at the Edge. Specifically, the project introduces a system that uses a robot’s camera 
  feed and a deep learning model trained in a Cloud environment to perform object classification on a Raspberry Pi. 
  After setting up the infrastructure, the project focuses on evaluating the most optimal deep learning models to 
  deploy at the Edge, analyzing the trade-offs between model size, speed and accuracy to best perform object classification.
</p>
<center>
  <%= image_tag "Cozmo_architecture.png", :size => "600x400" %>
</center>
<h2>Goals</h2>
<ul>
  <li>Perform on-device machine learning inference on a Raspberry Pi.</li>
  <li>Minimize latency and optimize the computing resources between an IoT device and a deep learning framework.</li>
  <li>Discover an optimal image classification model for the Edge, taking into account model size, accuracy and speed.</li>
  <li>Train an image classification model to recognize the hand gestures "rock, paper, scissors".</li>
</ul>
<h2>Takeaways</h2>
<ul>
  <li>Deploying machine learning models to the Edge and performing inference on-device very achievable with <a href="https://www.tensorflow.org/lite">TensorFlow Lite</a>.</li>
  <li>Google's EfficientNets are more effective than popular convolutional neural networks (MobileNet, ResNet, Inception-v3) 
  at the Edge.
    <ul>
      <li>EfficientNets very compact and use <i>compound scaling</i> to achieve high accuracy while minimizing floating point operations.</li>
    </ul>
  </li>
  <li>More work is necessary to increase the model’s "rock, paper, scissors" generalizability.</li>
    <ul>
      <li>Nonetheless, EfficientNet models provide a promising solution to delivering machine learning at the Edge.</li>
    </ul>
</ul>

<h2>Documents</h2>
<h3>
  <%= link_to image_tag("Slides.png", size: "80x100", alt: "Slides"), asset_path("Cozmo_Presentation.pdf") %>
  <%= link_to image_tag("PDF.png", size: "80x100", alt: "Report"), asset_path("Cozmo_Report.pdf") %>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/CS293B_IoT' %>
</h3>