<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Portfolio</h1>
    <p class="lead">Collection of programs and analyses from past projects and pastimes</p>
  </div>
</div>

<div class="jumbotron">
  <h2 class="display-4">Deep Learning and Object Classification at the Edge</h2>
  <hr class="my-4">
  <p>Configure a system that uses a robot’s camera feed and a trained deep learning model to perform object classification on an IoT device. 
  Attempt to teach the robot to play a game of "Rock, Paper, Scissors".</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/cozmo" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Predicting Quality of Experience on Mobile Broadband</h2>
  <hr class="my-4">
  <p>Using radio (signal strength) and network level (throughput) measurements, deploy an array of machine learning algorithms to predict user 
  experience on video streaming services.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/qoe" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Android Network Tools</h2>
  <hr class="my-4">
  <p>Application that provides a set of tools to measure network performance, network speed and web page performance from an Android device.
  Performance statistics are gathered in the application and exported via Google Drive.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/android" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Recurrent Neural Networks</h2>
  <hr class="my-4">
  <p>Investigating the performance of recurrent neural networks in the context of image generation and text classification.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/rnn" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Pricing Factors in the Arizona Home Market</h2>
  <hr class="my-4">
  <p>Statistical analysis to determine the most significant factors influencing the price of a single family home in Arizona.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/az" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">US Craft Beer</h2>
  <hr class="my-4">
  <p>Statistical analysis investigating domestic craft beer. Experiment with deploying a multiple linear regression model using
  style, ABV, age, year and region to predict a beer's rating.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/beer" role="button">Learn more</a>
  </p>
</div>

<center><%= image_tag "favicon-32x32.png", :size => "32x32" %></center>