<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Portfolio</h1>
    <p class="lead">Collection of programs and analyses from past projects and pastimes</p>
  </div>
</div>

<div class="jumbotron">
  <h2 class="display-4">Deep Learning at the Edge</h2>
  <hr class="my-4">
  <p>Configure a system that uses a robot’s camera feed and a deep neural network to perform object classification on a Raspberry Pi. 
  Attempt to teach the robot to play a game of "Rock, Paper, Scissors".</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/cozmo" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">A SAT Based Scheduler</h2>
  <hr class="my-4">
  <p>Make use of Google's CP-SAT Solver to optimally arrange a schedule pairing volunteer language interpreters with 
  student-teacher conferences throughout the Goleta and Santa Barbara school districts.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/sat" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">User Experience Prediction</h2>
  <hr class="my-4">
  <p>Deploy an array of machine learning models to predict quality of experience on video streaming services.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/qoe" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Android Network Tools</h2>
  <hr class="my-4">
  <p>Measure and analyze network speed, network performance and web page performance from an Android device.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/android" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Augmented Reality</h2>
  <hr class="my-4">
  <p>Experiment with the augmented reality platform ARKit to virtually render wall studs on an iOS device.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ar" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Deepfake Videos</h2>
  <hr class="my-4">
  <p>Train deep neural networks to first generate and then detect deepfake videos.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/deepfake" role="button">Learn more</a>
  </p>
</div>

<div class="jumbotron">
  <h2 class="display-4">Recurrent Neural Networks</h2>
  <hr class="my-4">
  <p>Investigate the performance of recurrent neural networks in the context of image generation and text classification.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/rnn" role="button">Learn more</a>
  </p>
</div>

<% if false %>
<div class="jumbotron">
  <h2 class="display-4">Pricing Factors in the Arizona Home Market</h2>
  <hr class="my-4">
  <p>Statistical analysis to determine the most significant factors influencing the price of a single family home in Arizona.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/az" role="button">Learn more</a>
  </p>
</div>
<% end %>

<% if false %>
<div class="jumbotron">
  <h2 class="display-4">US Craft Beer</h2>
  <hr class="my-4">
  <p>Statistical analysis investigating domestic craft beer. Fit a multiple linear regression model to predict beer rating.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/beer" role="button">Learn more</a>
  </p>
</div>
<% end %>

<div class="jumbotron">
  <h2 class="display-4">Vinyl Videos</h2>
  <hr class="my-4">
  <p>Personal project that uses a Raspberry Pi, video projector and record player to add visuals to a record collection.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/vinyl" role="button">Learn more</a>
  </p>
</div>

<% if false %>
  <body>
    <center>
      <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=400&t=n&d=3ABGXRVGahyvS0uN0hFaXO-0-SCpsbEysVDiJyo7Rno&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
    </center>
  </body>
<% end %>