<% provide(:title, "QoE") %>
<h1>User Experience Prediction</h1>
<h2>Summary</h2>
<p>
  Quality of experience (QoE) has become an increasingly important metric for today’s modern service providers.
  Discovering and optimizing the factors that determine user experience has thus become an essential goal for
  network operators. In this project, I teamed with the <a href="https://moment.cs.ucsb.edu/">Mobility Management 
  and Networking (MOMENT) Lab</a> at UC Santa Barbara to focus on exploring the link between key radio measurements 
  and user experience in the context of video streaming sessions.
</p>
<h5>
  <center>
    <%= image_tag "QoE_Results.png", :size => "800x400" %>
  </center>
</h5>
<center>
  <i>Model Accuracy and Runtime – Buffer Size Prediction</i>
</center>
<h2>Goals</h2>
<ul>
  <li>Explore several machine learning algorithms to predict quality of experience from radio and network measurements.
    <ul>
      <li>Random Forest</li>
      <li>ARIMA</li>
      <li>Recurrent Neural Network (LSTM)</li>
    </ul>
  </li>
  <li>Investigate the effect of radio measurements and quality of service (QoS) metrics on quality of experience.
    <ul>
      <li>Radio Measurement: Reference Signal Received Power (RSRP)</li>
      <li>Quality of Service Measurement: Throughput</li>
    </ul>
  </li>
</ul>
<h2>Takeaways</h2>
<ul>
  <li>Random Forest and ARIMA can be used to predict buffer level with high accuracy, precision and recall.
    <ul>
      <li>Random forest model was especially effective in segmenting network level measurements using both a quantile binning
      and uniform binning approach.</li>
      <li>ARIMA able to quickly output accurate predictions on QoE using a linear regression model based on lagged observations.</li>
    </ul>
  </li>
  <li>Simpler models perform noticeably better than compute-intensive LSTM networks.</li>
</ul>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("Slides.png", size: "80x100", alt: "Slides"), asset_path("QoE_Presentation.pdf") %>
  <%= link_to image_tag("PDF.png", size: "80x100", alt: "Report"), asset_path("QoE_Report.pdf") %>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/NetworkingAI' %>
</h3>