<% provide(:title, "Vinyl") %>
<h1>Vinyl Videos</h1>
<h2>Summary</h2>
<p>
  In this project I set out to add a visual component to my record collection. Specifically, I put together 
  a music video file and added lyric subtitles that sync up with the music when played on vinyl. To watch the video while 
  listening to the record, I added the video file to a Raspberry Pi and hooked the Pi up to a video projector, making sure to play 
  the video in time with the needle on the record. The result is a karaoke-style music video projected onto the wall with subtitles 
  displayed in sync with the music on the record.
</p>
<h3>
  <center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VKatghcquZU" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </center>
</h3>
<h2>Goals</h2>
  <li>Create a video with subtitles that match the lyrics on a vinyl record.</li>
  <li>Deploy video to a Raspberry Pi to play wirelessly when music starts.</li>
  <li>Use video projector to watch video while music plays on record.</li>
<h2>Overview</h2>
  <li>Gather all lyrics for the record.</li>
  <li>Use <a href="https://www.apple.com/imovie/">iMovie</a> to compile a music video for the record.</li>
  <li>Use <a href="https://www.apple.com/mac/garageband/">GarageBand</a> to record the vinyl and export the audio file.</li>
  <li>Use the lyrics, audio file and <a href="http://www.lrcgenerator.com/">LRC Generator</a> to create a .lrc file.</li>
  <li>Format the .lrc file as .ass to get a fading subtitles effect.</li>
  <li>Use <a href="https://ffmpeg.org/">FFmpeg</a> to add the .ass subtitles file to the music video file.</li>
<h2>Documents</h2>
<h3>
  <%= link_to image_tag("GitHub.png", size: "90x100", alt: "GitHub"), 'https://github.com/dweinflash/VinylVideos' %>
</h3>