<footer class="footer">
  <normal>
    <ul><%= link_to "David Weinflash", asset_path("Weinflash_Resume.pdf") %></ul>
  </normal>
  <nav>
    <ul>
      <%= link_to "About", about_path %>
    </ul>
  </nav>
</footer>