<footer class="footer">
  <small>
    <ul><%= link_to "David Weinflash", asset_path("Weinflash_Resume.pdf") %></ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>