<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("favicon-512x512.png", size: "32x32"), '/', class: 'navbar-brand' %>
    <%= link_to "David Weinflash", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "GitHub", "https://github.com/dweinflash" %></li>
        <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/dweinflash/" %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>